header.header {
    height: 96px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1002;
    background: #000000;
    box-shadow: 0px 1px 0px rgba(201, 250, 61, 0.29);

    .header__logo {
        width: 100%;
        max-width: 250px;
        flex: 0 0 250px;

        img {
            max-width: 100%;
        }
    }

    .header__nav {
        width: 100%;
        max-width: calc(100% - 500px);
        flex: 0 0 calc(100% - 500px);

        ul.header__menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;

            &>li {
                display: inline-block;
                vertical-align: middle;
                color: #fff;
                letter-spacing: 0.05em;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                margin: 0 20px;
                position: relative;
                cursor: pointer;
                padding: 20px 0;

                &>a {
                    color: #fff;
                    letter-spacing: 0.05em;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 150%;
                    position: relative;
                    z-index: 1;
                    text-decoration: none;
                }
            }
        }


    }

    .header__chat {
        width: 100%;
        max-width: 250px;
        flex: 0 0 250px;
        text-align: right;

        a {
            text-decoration: none;
            color: #fff;
            letter-spacing: 0.05em;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            display: inline-flex;
            align-items: center;
            
            span {
                display: inline-block;
                width: 60px;
            }

            svg {
                margin-left: 6px;
            }
        }

    }




}