header.header {
    height: 96px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 20;
    background: #000000;
    box-shadow: 0px 1px 0px rgba(201, 250, 61, 0.29);

    .header__logo {
        width: 100%;
        max-width: 250px;
        flex: 0 0 250px;

        img {
            max-width: 100%;
        }
    }

    .header__nav {
        width: 100%;
        max-width: calc(100% - 500px);
        flex: 0 0 calc(100% - 500px);

        ul.header__menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;

            &>li {
                display: inline-block;
                vertical-align: middle;
                color: #fff;
                letter-spacing: 0.05em;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                margin: 0 20px;
                position: relative;
                cursor: pointer;
                padding: 20px 0;

                &>a {
                    color: #fff;
                    letter-spacing: 0.05em;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 150%;
                    position: relative;
                    z-index: 1;
                    text-decoration: none;
                }
            }
        }


    }

    .header__chat {
        width: 100%;
        max-width: 250px;
        flex: 0 0 250px;
        text-align: right;

        a {
            text-decoration: none;
            color: #fff;
            letter-spacing: 0.05em;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            display: inline-flex;
            align-items: center;

            span {
                display: inline-block;
                width: 60px;
            }

            svg {
                margin-left: 6px;
            }
        }

    }




}

.mobmenubtn {
    display: none;
}

@media(max-width:1400.8px) {
    header.header .header__nav ul.header__menu>li>a {
        font-size: 16px;
    }

    header.header .header__logo img {
        max-width: 200px;
    }
}

@media(max-width:991.8px) {

    header.header .header__chat {
        display: none;
    }

    .mobmenubtn {
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 327px;
        min-height: 52px;
        background: #C9FA3D;
        color: #0F0F10;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-size: 16px;
        line-height: 147%;

        img {
            margin-left: 8px;
            vertical-align: middle;
            width: 24px;
        }
    }

    header.header .header__nav {
        position: fixed;
        left: 0;
        top: 96px;
        width: 100%;
        max-width: 100%;
        height: calc(100vh - 96px);
        background: #000;
        display: none;

        .menuwrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            padding: 100px 0;
            overflow: scroll;


        }

        &.show {
            display: block;
        }
    }

    .header.header .header__nav ul.header__menu {
        width: 100%;

        li {
            text-align: left;
            display: block;
            font-weight: 700;
            font-size: 28px;
            line-height: 110%;
            margin: 0 0 40px 0;
            padding: 0 40px;

            a {
                font-weight: 700;
                font-size: 28px;
                line-height: 110%;
            }
        }
    }

























    header.header .header__nav {
        // display: none;
    }
}

@media(max-width:575.8px) {
    header.header .header__logo img {
        max-width: 156px;
    }

    header.header {
        height: 80px;
    }

    .header__burger {
        right: 24px !important;
    }

    .service-whatwedo h3 br {
        display: none;
    }

    .header.header .header__nav ul.header__menu li a {
        font-size: 24px;
    }

    .header.header .header__nav ul.header__menu li {
        padding: 0 24px;
    }

    header.header .header__nav .menuwrapper {
        padding: 70px 0;
    }

    header.header .header__nav {
        top: 80px;
        height: calc(100vh - 80px);
    }

    .mobmenubtn {
        max-width: calc(100% - 30px);
    }
}