// case new elements
.service-ourworks__bottsect {
    position: relative;
    z-index: 2;
    padding-top: 200px;
    text-align: center;
    padding-bottom: 150px;

    a.linkbtn {
        display: inline-block;
        letter-spacing: 0.02em;
        color: #0F0F10;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        padding: 22px 44px;
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        font-family: "Montserrat", sans-serif;
        transition: 0.3s;

        &:hover {
            box-shadow: 0px 8px 20px rgb(67 253 130 / 25%), 0px 26px 50px #2f463a;
        }
    }
}

.service-ourworks:after {
    background-repeat: repeat-y;
    background-position: 0 0, 0 -45px;
}

.checktestimonialsbox {
    max-width: 1140px;
    margin: 150px auto 0;

    a {
        font-weight: 500;
        font-size: 72px;
        line-height: 114%;
        color: #fff;
        text-align: left;
        position: relative;
        padding-right: 130px;
        display: block;
        font-style: italic;

        &::after {
            content: '';
            display: inline-block;
            width: 124px;
            height: 124px;
            background: url('../images/arrow_top.png') no-repeat center / 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.service-postbox .postbox__wrapper .textbox a {
    display: inline-block;
}

.servtestim__header-right.mob {
    display: none;
}

.header__chat {
    a {
        span, svg path {
            transition: 0.3s;
        }

        &:hover {
            span {
                color: #C9FA3D;
            }

            svg path {
                stroke: #C9FA3D;
            }
        }
    }
}

.header.header .header__nav ul.header__menu>li>a {
    transition: 0.3s;

    &:hover {
        color: #C9FA3D;
    }
}

.service-postbox .postbox__wrapper .hirebox a {
    position: relative;
    z-index: 2;
}

.service-postbox .postbox__wrapper .textbox a {
    transition: 0.3s;

    &:hover {
        box-shadow: 0px 8px 20px rgb(67 253 130 / 25%), 0px 26px 50px #2f463a;
    }
}

// background: linear-gradient(125.34deg,#CDFF7C 14.35%,#8CFFAC 54.63%,#93FFEB 101.27%);

// img link
.piclink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 250px;
    position: absolute;
    filter: drop-shadow(12px 12px 18px rgba(0,0,0,0.25));
    transform: rotate(15.64deg);
    bottom: -215px;
    right: -125px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}



@media(max-width:1700.8px) {
    .piclink {
        bottom: -185px;
        right: -55px;
    }
}

@media(max-width:1600.8px) {
    .service-ourworks__bottsect {
        padding-top: 100px;
    }

    .service-ourworks__bottsect a.linkbtn {
        font-size: 16px;
        padding: 18px 35px;
    }

    .checktestimonialsbox a {
        font-size: 52px;
    }

    .checktestimonialsbox {
        max-width: 840px;
    }

    .service-ourworks__bottsect {
        padding-bottom: 100px;
    }

    .piclink {
        width: 290px;
        height: 220px;
        bottom: -135px;
        right: 30px;
    }


}

@media(max-width:1199.8px) {
    .checktestimonialsbox a {
        font-size: 42px;
    }

    .checktestimonialsbox a:after {
        width: 100px;
        height: 100px;
    }

}

@media(max-width:991.8px) {
    .service-workin .workinslider .slick-track {
        padding-bottom: 0;
    }

    .service-postbox .postbox__wrapper .textbox {
        padding-bottom: 130px;
    }

    .service-ourworks .worksect-container .worksect__picbox.bipic img {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
    }

    .checktestimonialsbox a {
        font-size: 32px;
        padding-right: 90px;
    }

    .checktestimonialsbox a:after {
        width: 80px;
        height: 80px;
    }

    .checktestimonialsbox {
        max-width: 540px;
        margin-top: 100px;
    }

    .service-workin .serviserow__stacksblock .stackswrapper .techstack__boxwr {
        width: 25%;
        margin-bottom: 10px;
    }

    .service-workin .serviserow__stacksblock .stackswrapper .techstack__box {
        width: 100%;
    }

    .service-workin .serviserow__stacksblock .stackswrapper .techstack__box {
        padding-top: 25px;
        margin-bottom: 0;
    }

    .serviserow__stacksblock .stackswrapper .techstack__box {
        height: 170px;
        margin-right: 0;
        margin-left: 0;
    }

    .serviserow__stacksblock .stackswrapper .techstack__box p {
        margin: 0;
    }

    .piclink {
        width: 240px;
        height: 170px;
        bottom: -55px;
        right: -20px;
    }






}

@media(max-width:767.8px) {
    header.header .header__logo img {
        vertical-align: top;
    }

    .service-postbox .postbox__wrapper .textbox {
        padding-bottom: 0;
    }

    .service-workin .serviserow__stacksblock .stackswrapper .techstack__boxwr {
        width: 33.333%;
    }

    .serviserow__stacksblock .stackswrapper .techstack__box {
        height: 150px;
    }


    .piclink {
        position: relative;
        margin: 0 auto;
        display: flex;
    }



}

@media(max-width:575.8px) {
    .service-workin .serviserow__stacksblock .stackswrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .service-workin .serviserow__stacksblock .stackswrapper {
        margin-left: -15px;
        margin-right: -15px;
    }

    .service-workin .serviserow__stacksblock {
        padding-right: 15px;
    }

    .service-postbox .postbox__wrapper .hirebox a {
        font-size: 24px;
    }

    .service-postbox .postbox__wrapper .hirebox h3 {
        font-size: 32px;
    }

    .servtestim__header-right {
        display: none;
    }

    .servtestim__header-right.mob {
        display: block;
        margin-top: 32px;
        text-align: center;

        a {
            text-align: center;
            letter-spacing: 0.02em;
            color: #C9FA3D;
            font-weight: 700;
            font-size: 18px;
            line-height: 130%;
            background: #0F0F10;
            border: 1px solid;
            border-image-slice: 1;
            border-width: 1px;
            border-image-source: linear-gradient(77.09deg, #cdff7c 28.29%, #8cffac 87.22%);
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            min-height: 56px;
            padding: 5px 44px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            width: 100%;
            max-width: 412px;
            margin: 0 auto;
        }
    }

    .service-testimonials .servtestim__header {
        margin-bottom: 32px;
    }

    .service-testimonials .testimonialslide .descr p {
        font-size: 14px;
        line-height: 160%;
    }

    .service-testimonials .testimonialslide {
        padding: 40px 15px 24px 15px;
        margin-bottom: 15px;
    }

    .service-testimonials .testimonialslider .slick-slide {
        width: 100% !important;
    }

    .service-postbox .postbox__wrapper .textbox a {
        font-size: 14px;
    }


    .service-postbox .postbox__wrapper {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .postpic {
            display: inline-block;
            position: relative;
            order: 1;
            bottom: 0;
            right: initial;
            max-width: 250px;
            padding-left: 50px;
            margin: 0 auto;
        }
    }

    .service-postbox .postbox__wrapper .textbox {
        order: 2;
    }

    .service-postbox .postbox__wrapper {
        padding: 10px 10px 25px 10px;
    }

    .service-postbox .postbox__wrapper .textbox h3 {
        margin-bottom: 16px;
    }

    .service-ourworks .worksect-container .worksect__picbox img.mobpic {
        margin: 0 auto;

        &.mobpic__big {
            max-width: calc(100% + 48px);
            width: calc(100% + 48px);
            margin-left: -24px;
        }
    }

    .service-ourworks .worksect {
        padding-bottom: 30px;
    }

    .service-ourworks__bottsect {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .checktestimonialsbox {
        margin-top: 80px;
    }

    .checktestimonialsbox {
        max-width: 275px;

        a {
            font-weight: 500;
            font-size: 24px;
            line-height: 114%;
            padding-right: 50px;
        }
    }

    .checktestimonialsbox a:after {
        width: 40px;
        height: 40px;
    }

    .service-workin .serviserow__stacksblock .stackswrapper .techstack__box {
        padding: 16px 10px 10px 10px;
        height: 115px;
    }

    .serviserow__stacksblock .stackswrapper .techstack__box p {
        font-size: 14px;
    }

    .service-workin .serviserow__stacksblock .stackswrapper .techstack__boxwr {
        padding: 0 7px;
    }

    .service-workin .techstack .techstack__box img {
        height: 45px;
        width: auto;
    }

    .service-ourworks__bottsect a.linkbtn {
        width: 100%;
        max-width: 400px;
    }




    .service-postbox .postbox__wrapper .textbox .descr p {
        font-size: 14px;
    }

    .service-workin,
    .service-testimonials {
        background: #000;
    }


    .piclink {
        width: 220px;
        height: 160px;
        bottom: 0;
        right: initial;
        left: initial;
        top: 20px;
    }

}