.postwrapper {
    padding: 96px 0 0 0;
}

.postcontent {
    padding: 147px 0 85px 0;
    position: relative;

    &::after {
        content: '';
        display: block;
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.postcontainer {
    max-width: 1492px;
    margin: 0 auto;
}

.postmiansect {
    display: flex;
    padding-bottom: 150px;
}

.postmiansect__descr {
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
    padding-right: 17px;

    h1 {
        color: #000;
        letter-spacing: 0.01em;
        font-weight: 700;
        font-size: 64px;
        line-height: 104%;
        margin-bottom: 50px;
    }
}

.postmiansect__img {
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;

    img {
        width: 100%;
    }
}

.postmiansect__tags {
    margin-bottom: 50px;

    a {
        display: inline-block;
        margin-right: 29px;
        color: #BEBEBE;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;


        &:last-child {
            margin-right: 0;
        }
    }
}

.postauthor {
    display: flex;
    align-items: center;

    .postauthor__img {
        width: 100%;
        max-width: 49px;
        flex: 0 0 49px;

        .imgwrap {
            width: 100%;
            height: 49px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }

    .postauthor__descr {
        width: 100%;
        max-width: calc(100% - 49px);
        flex: 0 0 calc(100% - 49px);
        padding-left: 13px;

        .name {
            color: #000;
            letter-spacing: 0.05em;
            font-size: 16px;
            line-height: 150%;
            margin: 0 0 8px 0;

            a {
                color: #000;
                text-decoration: underline;
                letter-spacing: 0.05em;
                font-weight: 700;
            }
        }

        .date {
            margin: 0;
            color: #000;
            letter-spacing: 0.05em;
            font-size: 12px;
            line-height: 150%;

            span {
                font-weight: 600;
            }
        }
    }
}

.postmiansectbody {
    display: flex;

    .postmiansectbody__leftbar {
        width: 100%;
        max-width: 280px;
        flex: 0 0 280px;
    }

    .postmiansectbody__post {
        width: 100%;
        max-width: calc(100% - 560px);
        flex: 0 0 calc(100% - 560px);
    }

    .postmiansectbody__rightbar {
        width: 100%;
        max-width: 280px;
        flex: 0 0 280px;
    }
}

.postmiansectbody__post {
    padding-bottom: 20px;

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000000;
        opacity: 0.8;
    }

    h2 {
        font-weight: 800;
        font-size: 36px;
        line-height: 130%;
    }

    h3 {
        font-weight: 800;
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 30px;
    }

    h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 20px;
    }

    h5 {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 20px;
    }

    h6 {
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 20px;
    }

    &>p {
        color: #000000;
        opacity: 0.8;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
    }

    h2 {
        margin: 50px 0 60px;
        position: relative;

        &::after {
            content: '';
            z-index: -1;
            display: block;
            position: absolute;
            left: -28px;
            top: 0;
            width: 60%;
            height: calc(100% + 13px);
            border: 2px solid;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
            border-top: none;
            border-right: none;
        }
    }

    .postgetconsultation {
        margin-bottom: 30px;
    }

    &>ul {
        padding-left: 17px;
        margin-bottom: 30px;

        li {
            display: block;
            position: relative;
            padding-left: 16px;
            color: #000000;
            opacity: 0.8;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
                position: absolute;
                left: 0;
                top: 9px;
            }
        }
    }

    &>ol {
        li {
            padding-left: 8px;
            position: relative;
            color: #000000;
            opacity: 0.8;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


}

.postgetconsultation {
    padding: 22px 55px;
    display: flex;
    align-items: center;
    background: rgba(15, 15, 16, 0.9);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);

    p {
        width: 100%;
        max-width: calc(100% - 268px);
        flex: 0 0 calc(100% - 268px);
        margin: 0;
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        padding-right: 49px;
    }

    a {
        width: 100%;
        max-width: 268px;
        flex: 0 0 268px;
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        letter-spacing: 0.02em;
        color: #0F0F10;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        transition: 0.3s;

        &:hover {
            filter: hue-rotate(40deg);
            box-shadow: 0 8px 10px #000;
        }
    }
}

.postauthorinfo {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.postauthorinfo__author {
    display: flex;

    .postauthorinfo__author-img {
        width: 100%;
        max-width: 90px;
        flex: 0 0 90px;

        .imgwrap {
            width: 100%;
            height: 90px;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }

    .postauthorinfo__author-descr {
        width: 100%;
        max-width: calc(100% - 90px);
        flex: 0 0 calc(100% - 90px);
        padding-left: 22px;

        .name {
            color: #000000;
            opacity: 0.8;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 3px;

            a {
                font-weight: 700;
                text-decoration: underline;
                color: #000000;
            }
        }

        .job {
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.6);
            opacity: 0.8;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
        }

        .date {
            letter-spacing: 0.05em;
            color: #000000;
            font-size: 12px;
            line-height: 150%;
            margin: 0;
        }
    }
}

.postauthorinfo__socials {
    width: 181px;
    text-align: center;

    p {
        margin-bottom: 16px;
        color: #000;
        letter-spacing: 0.02em;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 11px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.postmiansectbody__leftbar {
    .blogsocials {
        text-align: center;
        position: relative;
        left: initial;
        top: initial;

        ul {
            top: 160px;
        }
    }
}

.postmiansectbody__rightbar {
    text-align: right;
}

.sbbox {
    width: 217px;
    display: inline-block;
    background: #F1F1F1;
    padding: 16px;
    text-align: left;
    position: sticky;
    top: 160px;
    position: sticky;
    

    p {
        color: #000;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 16px;
    }

    a {
        max-width: 135px;
        width: 100%;
        height: 52px;
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        color: #0F0F10;
        letter-spacing: 0.02em;
        font-weight: 700;
        font-size: 14.04px;
        line-height: 130%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

        &:hover {
            filter: hue-rotate(40deg);
        }
    }
}